<h1> hi </h1>
<form class="post" action="/post" method="Post">
<label for="name">Name</label>
<input type="text" name="contact[name]"> <br>
<label for="sex">Sex</label>
<input type="text" name="contact[sex]"> <br>
<input type="submit" value="submit">
</form>  
