<%=@post.name%><br>
<%=@post.sex%> <br>


<h1> put in tag </h1>
<form class="post" action="/tag" method="Post">
<label for="tag1">tag1</label>
<input type="text" name="tag1"> <br>
<label for="tag2">tag2</label>
<input type="text" name="tag2"> <br>
<input type="submit" value="submit">
</form>  



